[submodule "layout-detection-fastapi"]
	path = layout-detection-fastapi
	url = https://github.com/MlLearnerAkash/layout-detection-fastapi.git
[submodule "dectron2"]
	path = dectron2
	url = https://github.com/MlLearnerAkash/detectron2-publaynet.git
[submodule "detectron2"]
	path = detectron2
	url = https://github.com/MlLearnerAkash/detectron2-publaynet.git
[submodule "SwinDocSegmenter"]
	path = SwinDocSegmenter
	url = https://github.com/MlLearnerAkash/SwinDocSegmenter.git
